# Prevent ModemManager from probing Klipper RP2040 USB CDC ACM MCUs.
ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="614e", ENV{ID_MM_DEVICE_IGNORE}="1", ENV{ID_MM_PORT_IGNORE}="1"
ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="614e", ENV{ID_MM_CANDIDATE}="0"
