# Copy this file to klipper_setup/image_build/secrets/build.env and edit.

IMG_NAME=klipperpi-idex
RELEASE=bookworm
TIMEZONE=Europe/Zurich
LOCALE=en_GB.UTF-8
HOSTNAME=klipperpi
USERNAME=pi
KEYMAP=us
STAGE_LIST="stage0 stage1 stage2"

# Pins (git shas or tags)
KLIPPER_COMMIT=master
MOONRAKER_COMMIT=master
MAINSAIL_VERSION=2.16.0
KLIPPERSCREEN_COMMIT=master
